.chat-section {
  @apply relative;
  height: 100vh;
  header {
    @apply absolute w-full;
    @apply p-4 font-bold;
    border-bottom: 1px solid #d3d5d9;
    background-color: #e6ecf3;
    top: 0;
  }
  &__chat {
    @apply pt-14 overflow-scroll pb-14;
    height: 100vh;
    
  }
  &__text-area {
    @apply absolute w-full;
    bottom: 0;
  }
}
